<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi Admin</h2>
    <p>
      <%= @user.username %> successfully signed up to Shopping-App.
    </p>
    <p>
      Please review profile and activate my account.
    </p>
    <p>Thanks</p>
  </body>
</html>
