<div class="row">
  <div class="col-md-12">
    <div class="background-image text-center">
      <%= image_tag('user', class: "user-profile-image") %>
      <h4 class="text-white"><%= @user.full_name %></h4>
    </div>
  </div>
</div>
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
      <a href="#profile" class="nav-link active" data-toggle="tab">My Profile</a>
  </li>
  <li class="nav-item">
      <a href="#settings" class="nav-link" data-toggle="tab">Settings</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="profile">
    <%= render 'profile' %>
  </div>
  <div class="tab-pane fade" id="settings">
    <%= render 'settings' %>
  </div>
</div>

